body {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    background-image: url("../../InterfaceMedia/GIFs/earthBG.gif");
    background-size: cover;
    background-position: 0px -80px;
    background-repeat: no-repeat;
    user-select: none;
}

#bluredDiv {
    position: absolute;
    height: 105%;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: -9999;
}

.about-section {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: rgb(170, 170, 170);
    font-family: Arial, Helvetica, sans-serif;
    user-select: text;
}

.about-section-text-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-title {
    font-size: 40px;
    font-weight: 700;
}

.about-sub-title {
    font-size: 30px;
    font-weight: 700;
    color: rgb(139, 71, 202);
}

.about-description {
    font-size: 18px;
}

.read-report {
    padding: 10px 30px;
    border-radius: 20px;
    background-color: rgb(139, 71, 202);
    cursor: pointer;
    color: white;
    font-weight: 700;
    border: none;
    margin-bottom: 100px;
}

.read-report:hover {
    background-color: rgb(88, 41, 132);
}

@media only screen and (max-width: 1200px) {
    .about-section {
        margin-top: 50px;
        width: 90%;
    }   
}

@media only screen and (max-width: 1200px) {
    .about-title {
        font-size: 30px;
        font-weight: 700;
    }
    
    .about-sub-title {
        font-size: 20px;
        font-weight: 700;
        color: rgb(139, 71, 202);
    }
    
    .about-description {
        font-size: 15px;
    }
}
